/* Custom styles for BlurtBB */
body {
    padding-top: 56px; /* Adjust for fixed navbar */
}

.vote-btn {
    min-width: 100px; /* Prevents button from resizing on click */
}

#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1056; /* Higher than modals */
}

.dropdown-item[data-bs-toggle="modal"],
.dropdown-item#logout-button {
    cursor: pointer;
}
